nav {
    display: flex;
    color: blueviolet;
}

.scorelink{
    flex-basis: 50%;
    text-decoration: none;
    color: blueviolet;
}

.timer {
    flex-basis: 50%;
    text-align: right;
}

.pageContent {

    text-align: center;

}

.pageOneTitle {

    font-size: 2rem;
}

.button {
    background-color: blueviolet;
    border-color: blueviolet;
    font: bold;
    color: white;
}

.pageContainer {
    display: inline-block;
    width: 500px;

}

.choices {
    padding-left: 0;
    list-style: none;
    text-align: left;
    max-width: 600px;
}

.choiceButton {
    margin-bottom: 10px;

}

.scoreListContainer {
    background-color: rgb(223, 200, 238);
    text-align: left;

}
.hide{
    display:none;
}

